@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Dobro došli</h2>
    <p>Popis osnovnih sredstava možete pogledati anonimno</p>
    <p>Za uređivanje osnovnih sredstava ili za pregled i uređivanje grupa osnovnih sredstava morate biti prijavljeni</p>
</div>
